// high arousal score = high saturation
// high perspective score = high luminance

$sdf: 60%;
$ldf: 55%;

$smtp1: 6%;
$smtp2: $smtp1 * 2;

$lmtp1: 12%;
$lmtp2: $lmtp1 * 2;

$emotion-1: hsl(270, $sdf + $smtp2, $ldf); 
$emotion-2: hsl(250, $sdf + $smtp1, $ldf + $lmtp1); 
$emotion-3: hsl(230, $sdf, $ldf + $lmtp2); 
$emotion-4: hsl(210, $sdf - $smtp1, $ldf + $lmtp1); 
$emotion-5: hsl(190, $sdf - $smtp2, $ldf); 
$emotion-6: hsl(170, $sdf - $smtp1, $ldf - $lmtp1); 
$emotion-7: hsl(150, $sdf, $ldf - $lmtp2);
$emotion-8: hsl(130, $sdf + $smtp1, $ldf - $lmtp2);


$octagon-colour: #2e2e2e;
$circle-gradient: conic-gradient(
    $emotion-1 0deg,
    $emotion-2 45deg,
    $emotion-3 90deg,
    $emotion-4 135deg,
    $emotion-5 180deg,
    $emotion-6 225deg,
    $emotion-7 270deg,
    $emotion-8 315deg,
    $emotion-1 360deg
);

$circle-border: #333;

$octagon-size: min(70vmin, 500px); 
$circle-size: calc(#{$octagon-size} * 0.85);
$dot-size: 20px;

body { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#scene {
    position: relative;
    width: $octagon-size;
    height: $octagon-size;
}

#octagon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $octagon-size;
    height: $octagon-size;
    transform: translate(-50%, -50%);
    background: $octagon-colour;
    clip-path: polygon(50% 0%,
            85% 15%, 
            100% 50%,
            85% 85%, 
            50% 100%,
            15% 85%,
            0% 50%,
            15% 15%
        );
}

#mainCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    background: $circle-gradient;
    border: 2px solid $circle-border;
    transform: translate(-50%, -50%);
    cursor: crosshair; // for choosing the cursor type; maybe this won't be needed for later

    .user-selection {
        position: absolute;
        width: $dot-size;
        height: $dot-size;
        border-radius: 50%;
        border: 3px solid white;
        background: transparent;
        transform: translate(-50%, -50%) scale(0.7);
        opacity: 0;
        transition: opacity 1s ease, transform 0.4s ease;
        pointer-events: none; // prevent interference with clicks
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); 

        &.visible {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }
}

// ! THIS IS TEMPORARY & HIDDEN IN THE FINAL THING!

#coords {
    top: 1.5rem;
    right: 1.5rem;
}

#resetButton {
    top: 4.5rem;
    right: 1.5rem;
}

#feedback {
    top: 1.5rem;
    left: 1.5rem;
}

.feedback-label { 
    position: fixed;
    font-weight: bold;
    color: #333;
    font-size: 1rem;
    background: rgba(198, 198, 198, 0.5);
    padding: 0.3rem 0.6rem;
    border-radius: 7.5px;
    z-index: 10;
}

.emotion-label {
    position: absolute;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.4s ease-in-out; 
}
