@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

$primary-colour: #121238;

$corner-margin: 1.5rem;

html, body {
    overflow: hidden;
    overscroll-behavior: none; 
    font-family: "Merriweather", 'Times New Roman', Times, serif;
    color: white;
    background-color: $primary-colour;
    font-size: 1.6em;
}

button {
    color: $primary-colour;
    font-family: "Merriweather", 'Times New Roman', Times, serif;
    background-color: white;
    border-radius: 1em;
    padding: 1em 2em;
    font-size: 0.5em;
}

#titleText {
    position: fixed;
    text-align: center;
    top: 20vh;
    left: 8em;
    right: 8em;
}

#readySection {
    position: fixed;
    bottom: $corner-margin; // ! temporary
    right: $corner-margin;
}

#readyStatus {
    position: fixed;
    top: $corner-margin;
    right: $corner-margin;
}