@import "stylesheets/constants";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


// ! note: standardise font sizing

html,
body {
    overflow: hidden;
    overscroll-behavior: none;
    font-family: "Merriweather", 'Times New Roman', Times, serif;
    color: white;
    background-color: $primary-colour;
    font-size: 1.6em;
}

button {
    font-family: "Merriweather", 'Times New Roman', Times, serif; // do not remove
}

h3 {
    margin: 0 0 5vh 0;
}

.bottom-right-button,
#resetButton {
    // use a class instead of the identifier
    color: $primary-colour;
    background-color: white;
    border: 1px solid white;
    border-radius: 1em;
    padding: 1em 2em;
    font-size: 0.5em;

    &:disabled,
    &:hover {
        background-color: $disabled-white !important;
    }
}

.large-button {
    border-radius: 1em;
    font-size: 0.65em;
    padding: 1.75em 0;

    &#primaryButton {
        color: $primary-colour;
        background-color: white;
        border: 1px solid white;
        margin-bottom: 0.5em;
    }

    &#secondaryButton {
        color: white;
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid $secondary-colour;
    }
}

.feedback-label {
    color: white;
    font-weight: bold;
    font-size: 0.45em;
    background: rgba(255, 255, 255, 0.5);
    padding: 0.3rem 0.6rem;
    border-radius: 7.5px;
    z-index: 10;
}

.information-text {
    font-size: 0.5em;
}

#titleText {
    position: fixed;
    text-align: center;
    top: 25vh;
    left: 8em;
    right: 8em;
}

.bottom-right-button {
    position: fixed;
    bottom: $corner-margin; // ! temporary
    right: $corner-margin;
}

#readyStatus {
    position: fixed;
    top: $corner-margin-large;
    right: $corner-margin;
}

#waitingMessage {
    color: $italic-text-colour;
    font-size: 0.65em;
    position: fixed;
    bottom: $corner-margin;
    left: $corner-margin;
    font-style: italic;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-out, visibility 0s linear 0.4s;

    &.visible {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.4s ease-out;
    }
}