// key styles

$primary-colour: var(--primary-colour, #121238); // updated dynamically OR just simply the main colour
$italic-text-colour: rgba(255, 255, 255, 0.8);
$secondary-colour: rgba(255, 255, 255, 0.5);
$disabled-white: rgba(255, 255, 255, 0.3);
$corner-margin: 1.5rem;
$corner-margin-large: 4.5rem;

// for emotion-wheel.html

$sdf: 65%;
$ldf: 55%;

$smtp1: 6%;
$smtp2: $smtp1 * 2;

$lmtp1: 12%;
$lmtp2: $lmtp1 * 2;

:root { // for purposes of modification, it has to be written with CSS like syntax :(
    --emotion-1: hsl(80, #{$sdf + $smtp2}, #{$ldf});
    --emotion-2: hsl(125, #{$sdf + $smtp1}, #{$ldf + $lmtp1});
    --emotion-3: hsl(170, #{$sdf}, #{$ldf + $lmtp2});
    --emotion-4: hsl(215, #{$sdf - $smtp1}, #{$ldf + $lmtp1});
    --emotion-5: hsl(260, #{$sdf - $smtp2}, #{$ldf});
    --emotion-6: hsl(305, #{$sdf - $smtp1}, #{$ldf - $lmtp1});
    --emotion-7: hsl(350, #{$sdf}, #{$ldf - $lmtp2});
    --emotion-8: hsl(35, #{$sdf + $smtp1}, #{$ldf - $lmtp2});
}

$circle-gradient: conic-gradient(
    var(--emotion-1) 0deg,
    var(--emotion-2) 45deg,
    var(--emotion-3) 90deg,
    var(--emotion-4) 135deg,
    var(--emotion-5) 180deg,
    var(--emotion-6) 225deg,
    var(--emotion-7) 270deg,
    var(--emotion-8) 315deg,
    var(--emotion-1) 360deg
);

$octagon-size: 50vmin;
$circle-size: $octagon-size * 0.85;
$dot-size: 20px;