// key styles

$primary-colour: #121238;
$corner-margin: 1.5rem;
$disabled-white: rgba(255, 255, 255, 0.3);

// for emotion-wheel.html

$sdf: 60%;
$ldf: 55%;

$smtp1: 6%;
$smtp2: $smtp1 * 2;

$lmtp1: 12%;
$lmtp2: $lmtp1 * 2;

$emotion-1: hsl(270, $sdf + $smtp2, $ldf); 
$emotion-2: hsl(250, $sdf + $smtp1, $ldf + $lmtp1); 
$emotion-3: hsl(230, $sdf, $ldf + $lmtp2); 
$emotion-4: hsl(210, $sdf - $smtp1, $ldf + $lmtp1); 
$emotion-5: hsl(190, $sdf - $smtp2, $ldf); 
$emotion-6: hsl(170, $sdf - $smtp1, $ldf - $lmtp1); 
$emotion-7: hsl(150, $sdf, $ldf - $lmtp2);
$emotion-8: hsl(130, $sdf + $smtp1, $ldf - $lmtp2);

$circle-gradient: conic-gradient(
    $emotion-1 0deg,
    $emotion-2 45deg,
    $emotion-3 90deg,
    $emotion-4 135deg,
    $emotion-5 180deg,
    $emotion-6 225deg,
    $emotion-7 270deg,
    $emotion-8 315deg,
    $emotion-1 360deg
);

$octagon-size: 50vmin;
$circle-size: calc(#{$octagon-size} * 0.85);
$dot-size: 20px;
