@import "constants";

#coords {
    position: fixed;
    bottom: 4.5rem;
    left: $corner-margin;
}

#topLabels {
    position: fixed;
    bottom: $corner-margin;
    left: $corner-margin;
}

#resetButton {
    position: fixed;
    bottom: $corner-margin;
    right: $corner-margin;
}