// high arousal score = high saturation
// high perspective score = high luminance

@import "constants";

body { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#scene {
    position: relative;
    width: $octagon-size;
    height: $octagon-size;
}

#octagon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $octagon-size;
    height: $octagon-size;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.3);
    clip-path: polygon(50% 0%,
            85% 15%, 
            100% 50%,
            85% 85%, 
            50% 100%,
            15% 85%,
            0% 50%,
            15% 15%
        );
}

#mainCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    background: $circle-gradient;
    // border: 2px solid $circle-border;
    transform: translate(-50%, -50%);
    cursor: crosshair; // for choosing the cursor type; maybe this won't be needed for later

    .user-selection {
        position: absolute;
        width: $dot-size;
        height: $dot-size;
        border-radius: 50%;
        border: 3px solid white;
        background: transparent;
        transform: translate(-50%, -50%) scale(0.7);
        opacity: 0;
        transition: opacity 1s ease, transform 0.4s ease;
        pointer-events: none; // prevent interference with clicks
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); 

        &.visible {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }
}

// ! THIS IS TEMPORARY & HIDDEN IN THE FINAL THING!

#coords {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
}

#resetButton {
    position: fixed;
    bottom: 4.5rem;
    right: 1.5rem;
}

#topLabels {
    position: fixed;
    bottom: 1.5rem;
    left: 1.5rem;
}

.emotion-label {
    color: white;
    position: absolute;
    font-weight: bold;
    font-size: 0.45em !important;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.4s ease-in-out; 
}
